/* Styling for Tortoiseshell Optics project for Codecademy Oct 2017 */

/* Base Elements */
html,
body {
  color: #000000;
  background-color: #FFFFFF;
  font: 18px/1.4 Helvetica,Arial,sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;   
}

a:link,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover,
a:active {
  color: #ECDC81;
  text-decoration: none;
}

/* Content Window */
.pageContainer {
  max-width: 960px;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 1;
}

/* Page Heading */
header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 31rem;
}

/* Logo and Navigation */
#logoAndNav {
  color: #FFFFFF;
  background-color: cadetblue;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
#logoContainer {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}

#logoContainer a {
  height: 1.5rem;
}

#logoImage {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Navigation */
nav {
  margin: 1rem 0;
  display: block;
}

#navList {
  display: flex;
  flex-direction: row;
}

#navList li {
  margin-right: 2rem;
}

#navMobile {
  display: none;
}

/* Tagline */
#taglineContainer {
  text-align: right;
}

#taglineContainer h1 {
  background-color: #FFFFFF;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-transform: uppercase;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
}

/* Page Content */
/* Services */
#services {
  width: 100%;
  display: flex;
  justify-content: center;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem;
}

.servicesContainer img {
  max-width: 100%;
  max-height: 100%;
}

#exams {
  max-width: 3.5rem;
  max-height: 100%;
}

/* Philosophy and Appointments */
#philAppts {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.philApptContainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: auto;
  margin-right: 15%;
}

#philAppts h3 {
  color: #FFFFFF;
  background-color: #5F9EA0;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
  height: auto;
  padding: 0.5em 0 0.5em 1.25em;
  margin-bottom: 1rem;
  
}

/* Page Footer */
footer.pageContainer {
  background-color: #F0FFFF;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4rem;
  margin-top: 5rem;
}

/* Adjustments for tablet screens */
@media only screen and (max-width: 1024px) {

}



/* Adjustments for mobile screens */
@media only screen and (max-width: 480px) {
  #navList {
    display: none;
  }
  #navMobile {
    display: block;
  }
}